{% extends 'base.html.twig' %}

{% block title %}Cupboard index{% endblock %}

{% block main %}
    <h1>Cupboard index</h1>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                {% for cupboard in cupboards %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Cupboard image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Cupboard details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Cupboard name-->
                                <h5 class="fw-bolder">{{ cupboard.name }}</h5>
                                <!-- Cupboard owner-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="text-center">By: <a href="{{ path('app_member_show', {'id': cupboard.member.id}) }}">{{ cupboard.member.name }}</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- Cupboard actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('app_cupboard_show', {'id': cupboard.id}) }}">Show details</a></div>
                        </div>
                        
                        {% if is_granted('ROLE_USER') %}
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-warning mt-auto" href="{{ path('app_cupboard_edit', {'id': cupboard.id}) }}">Edit</a></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %} {# shoes #}            
                
            </div>
        </div>
    </section>

    {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
    <div class="p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-success mt-auto" href="{{ path('app_cupboard_newinmember', {'id': member.id}) }}">Create new</a></div>
    </div>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
    <div class="p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-success mt-auto" href="{{ path('app_cupboard_new') }}">Create new cupboard</a></div>
    </div>
    {% endif %}

    <table class="table" style="background: rgba(255, 255, 255, 0.75)">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cupboard in cupboards %}
            <tr>
                <td>{{ cupboard.id }}</td>
                <td>{{ cupboard.name }}</td>
                <td>
                    <a href="{{ path('app_cupboard_show', {'id': cupboard.id}) }}">show</a>
                    {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('app_cupboard_edit', {'id': cupboard.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
