{% extends 'base.html.twig' %}

{% block title %}Shelf index{% endblock %}

{% block main %}
    <h1>Shelf index</h1>

    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                {% for shelf in shelves %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Shelf image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Shelf details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Shelf name-->
                                <h5 class="fw-bolder">{{ shelf.name }}</h5>
                                <!-- Shelf owner-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="text-center">By: <a href="{{ path('app_member_show', {'id': shelf.member.id}) }}">{{ shelf.member.name }}</a></div>
                                </div>
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Shelf actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ path('app_shelf_show', {'id': shelf.id}) }}">Show details</a></div>
                        </div>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-warning mt-auto" href="{{ path('app_shelf_edit', {'id': shelf.id}) }}">Edit</a></div>
                        </div>
                    </div>
                </div>
                {% endfor %} {# shoes #}            
                
            </div>
        </div>
    </section>

    <div class="p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-success mt-auto" href="{{ path('app_shelf_new') }}">Create new</a></div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Published</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for shelf in shelves %}
            <tr>
                <td>{{ shelf.id }}</td>
                <td>{{ shelf.name }}</td>
                <td>{{ shelf.description }}</td>
                <td>{{ shelf.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_shelf_show', {'id': shelf.id}) }}">show</a>
                    <a href="{{ path('app_shelf_edit', {'id': shelf.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
