{% extends 'base.html.twig' %}

{% block title %}Shelf{% endblock %}

{% block main %}
    <h1>Shelf</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shelf.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ shelf.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ shelf.description }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td><a href="{{ path('app_member_show', {'id': shelf.member.id}) }}">{{ shelf.member }}</a></td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ shelf.created ? shelf.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ shelf.updated ? shelf.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ shelf.published ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Shoes</th>
                <td>
                    <ul>
                        {% for shoe in shelf.shoes %}
                            <li>
                                <a href="{{ path('app_shelf_shoe_show', {'shelf_id': shelf.id, 'shoe_id': shoe.id}) }}">
                                    {{ shoe }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    {# {{ dump(shelf) }}
    {% for shoe in shelf.shoes %}
        {{ dump(shoe) }}
    {% endfor %} #}

    <div class="p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-info mt-auto" href="{{ path('app_shelf_index') }}">Back to list</a></div>
    </div>

    <div class="p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-warning mt-auto" href="{{ path('app_shelf_mark', {'id': shelf.id}) }}">Mark</a></div>
    </div>

    <div class="p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-warning mt-auto" href="{{ path('app_shelf_edit', {'id': shelf.id}) }}">Edit</a></div>
    </div>

    {{ include('shelf/_delete_form.html.twig') }}
{% endblock %}
